export(ex2plink)
export(genos.clean.batch)
export(genos.clean)
export(get.data.dims)
export(get.file.copy)
export(pre0.dir.create)
export(pre1.plink2mach.batch)
export(pre1.plink2mach)
export(pre2.remove.genos.batch)
export(pre2.remove.genos)
export(pre3.call.mach.batch)
export(pre3.call.mach)
export(pre4.combine.case.control.batch)
export(pre4.combine.case.control)
export(pre5.genos2numeric.batch)
export(pre5.genos2numeric)
export(pre6.merge.genos)
export(pre7.add.conf.var)
export(pre7.add.conf.var.unix)
export(pre8.split.train.test.batch)
export(pre8.split.train.test)
export(run1.moss)
export(tune1.subsets)
export(MOSS.GWAS)
useDynLib(genMOSSplus)
